# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# IDE
.vscode/

# Testing
.pytest_cache/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Docker
*.tar